*{
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align:center;
    background:url('https://ws1.sinaimg.cn/large/7a23be02gy1fqj5jj0r0oj21do0lg1ky.jpg') no-repeat center center;
    
}
.wrapper {
    background-color:rgba(255,255,255,.3);
    border-radius: 10px;
    

}
kbd {
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    text-align: center;
    line-height: 40px;
    font-family: 'Helvetica';
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    border: 1px solid #373737; 
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808; 
    position: relative;
}
kbd > img {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: 2px;
    bottom: 1px;
}
kbd > button {
    position: absolute;
    border: none;
    width: 29px;
    height: 16px;
    left: 20px;
    top: 23px;
    border-radius: 5px;
    display: none;
    background-color: rgba(255,255,255,0.6);

}
kbd .show {
    display: block;
}
kbd:hover {
    cursor: pointer;
}
.row {
    margin: 20px;
}
.row:nth-child(2) {
    margin-left: 40px;
}
.row:nth-child(3) {
    margin-left: 80px;
}